TURSO_DATABASE_URL=libsql://tu-db.turso.io
TURSO_AUTH_TOKEN=eyJ...

# openssl rand -hex 32
IRON_SESSION_PASSWORD=cambia_esto_por_32_chars_minimo_xxxxxxxxxx

USER1_EMAIL=admin@ejemplo.com
USER1_PASSWORD=cambia_esto
USER1_ADMIN=true

USER2_EMAIL=usuario@ejemplo.com
USER2_PASSWORD=cambia_esto
USER2_ADMIN=false
